node_modules
vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests/_coverage
tests/_coverage_html
*.md
docker-compose.yml
Dockerfile*
.dockerignore
README.md

